.toggle-container {
  z-index: 11;
  position: fixed;
  right: 4em;
}
.toggle {
  visibility: hidden;
}
.toggle + label {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  cursor: pointer;
  color: var(--primary-text-color);
}
.toggle + label::before {
  content: "";
  height: 1em;
  width: 2em;
  border-radius: 1em;
  background-color: var(--toggle-bg);
  margin-left: 0.5em;
}
.toggle + label::after {
  content: "";
  height: 0.6em;
  width: 0.8em;
  border-radius: 1.9em;
  background-color: var(--toggle-fg);
  position: absolute;
  left: 0.68em;
  transition: background-color 300ms ease-in-out, transform 300ms ease-in-out;
}
.toggle:checked + label::after {
  transform: translateX(100%);
}
@media only screen and (max-width: 400px) {
  .toggle-container {
    z-index: 11;
    position: fixed;
    right: 1em;
  }
  .toggle + label {
    font-size: 1.1rem;
  }
}
